.button_profil {
    background-image: url(../../../images/Add-Button.svg);
    width: 150px;
    height: 50px;
    border-radius: 2px;
}

.button_profil:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .button_profil {
        background-image: url(../../../images/Add-Butto-big.svg);
        margin-top: 33px;
        width: 282px;
    }
    
}