.button__element-icon {
    background-image: url(../../../images/serdce-wite.svg);
    width: 22px;
    height: 19px;
}

.button__element-icon:hover {
    opacity: .5;
}

.button__element-icon:active {
    opacity: 1;
    background-image: url(../../../images/serdce-black.svg);
}