.profile__img {
    grid-area: img;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 320px) {
    .profile__img {
        margin-bottom: 26px;
    }
    
}