.popup__field-name {
    width: 358px;
    height: 27px;
    margin-top: 54px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, .2);;
}

@media screen and (max-width: 530px) {
    .popup__field-name {
        width: 238px;
        height: 27px;
    }
}