.element {
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 282px auto;
    grid-template-areas: 
    "img"
    "conteiner";
    justify-items: center;
    align-items: center;
}