.element__container {
    grid-area: conteiner;
    width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 31px;
}

@media screen and (max-width: 320px) {
    .element__container {
        margin: 27px auto 24px;
    }
    
}