.popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    z-index: 1000;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;

    transition: all 0.5s ease;
	opacity: 0;
	visibility: hidden;
    
}
.popup.popup_opened {
    visibility: visible;
    opacity: 1;
}